<div class="book">
    <div class="book-image">
        <img class="bookImagen" src="https://via.placeholder.com/240x300" alt="">
    </div>
    <div class="book-info">
        <div class="book-title">
            <h5>titulo del Libro</h5>
        </div>
        <div class="book-price">
            <p>AR$ 50.00</p>
        </div>
        <div class="icon-agregar">
            <i class="fas fa-heart"></i>
        </div>
    </div>
</div>
