<footer>
    <Section class="footeritem">
        <ul type="none">
            <li>Librapp</li>
            <li>Terminos y condiciones</li>
            <li>Contacto</li>
            <li>©CopyRight</li>
        </ul>
    </Section>
</footer>