<footer class="footer">
    <section class="footer-info">
        <h4 class="footer-title">
            Creado por:
        </h4>
        <div class="creadores">
            <div class="creador">
                <img class="creador-img" src="https://via.placeholder.com/50x50" alt="imagen creador">
                <p class="creador-nombre">Nombre Persona</p>
            </div>
            <div class="creador">
                <img class="creador-img" src="https://via.placeholder.com/50x50" alt="imagen creador">
                <p class="creador-nombre">Nombre Persona</p>
            </div>
            <div class="creador">
                <img class="creador-img" src="https://via.placeholder.com/50x50" alt="imagen creador">
                <p class="creador-nombre">Nombre Persona</p>
            </div>
            <div class="creador">
                <img class="creador-img" src="https://via.placeholder.com/50x50" alt="imagen creador">
                <p class="creador-nombre">Nombre Persona</p>
            </div>
        </div>
    </section>
    <section class="footer-info">
        <h4 class="footer-title">
            Contacto
        </h4>
        <div class="redesSociales">
            <div class="redPeronal">
                <a href=""><i class="fab fa-git-square icono-redPersonal"></i></a>
                <p class="redPersonal-nombre">Nombre Persona</p>
            </div>
            <div class="redPeronal">
                <a href=""><i class="fab fa-git-square icono-redPersonal"></i></a>
                <p class="redPersonal-nombre">Nombre Persona</p>
            </div>
            <div class="redPeronal">
                <a href=""><i class="fab fa-git-square icono-redPersonal"></i></a>
                <p class="redPersonal-nombre">Nombre Persona</p>
            </div>
            <div class="redPeronal">
                <a href=""><i class="fab fa-git-square icono-redPersonal"></i></a>
                <p class="redPersonal-nombre">Nombre Persona</p>
            </div>        
        </div>    
    </section>
    <section class="footer-info">
        <h4 class="footer-title">&copy; Digital House 2022</h4>
    </section>
</footer>