<header class="header">
    <div class="menu">
        <div class="logo">
            <img src="/img/Librapp logo whitepng322x145.png" alt="logo librApp">
        </div>
        <div class="search-engine">
            <form action="" method="">
                <input type="text">
                <input type="button" value="Buscar">
            </form>
        </div>

    </div>
    <div class="menu-buscador">
        <div class="menu-hamburguesa">
            <p>
                MENU
            </p>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/register">REGISTRO</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li>MI CUENTA</li>
                <li id="contacto">CONTACTO</li>
            </ul>
        </nav>
        <div class="shopping-cart">
            <p>Productos</p>
            <p>AR$</p>
            <p>total</p>
            <div class="icon-shopping-cart">
                <a href="shopping-cart"><img src="/img/shoppingcarticon.png"></a> <!--FALTA IMAGEN CARRITO-->
            </div>
        </div>
    </div>
</header>