<header class="header">
  <div class="header-contenedor">
    <div class="header-logo">
      <img class="logo-image" src="/img/Librapp logo whitepng322x145.png" alt="logo librApp">
    </div>
    <div class="header-buscador">
      <form class="buscador-form" action="" method="">
        <input class="form-text" type="text">
        <button class="form-button"> <i class="fas fa-search icono-buscador"></i> </button>
      </form>
    </div>
  </div>  

  <div class="menu-buscador">
    <div class="menu-hamburguesa">
      <p class="contenedor-icono-menu" >
        <i class="fas fa-bars icono-menu" id="menu-hamburguesa"></i>
      </p>
    </div>
    <nav class="navbar" id="navbar">
      <ul class="navbar-lista">
        <li class="navbar-lista-item"><a href="/">Home</a></li>
        <li class="navbar-lista-item"><a href="/users/create">Registro</a></li>
        <li class="navbar-lista-item"><a href="/users/login">Login</a></li>
        <li class="navbar-lista-item"><a href="/products">Libros</a></li>
        <li class="navbar-lista-item"><a href="/users">Usuarios</a></li>
        <li class="navbar-lista-item" id="contacto"><a href="/products/productCart">Carrito</a></li>
      </ul>
    </nav>
    <div class="shopping-cart">
      <p>logout</p>
      <div class="icon-shopping-cart">
        <a href="/users/logout"><i class="fas fa-door-open"></i></a>
      </div>
    </div>
  </div>
</header>