<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!--Etilos Generales -->
        <link rel="stylesheet" href="/css/style.css">
        <title>LibrApp</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="https://via.placeholder.com/300x150" alt="logo librApp">
            </div>
            <nav class="navbar">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </nav>
            <div class="search-engine">
                <form action="" method="">
                    <input type="text">
                    <input type="button">
                </form>
            </div>
            <div class="shopping-cart-access">
                <p>#</p>
                <p>Productos</p>
                <p>AR$</p>
                <p>total</p>
                <div class="icon-shopping-cart">
                    <a href="#">icono</a>
                </div>
            </div>
        </header>

        <main>
            <p>HOME</p>
        </main>

        <footer>
            <p>Pie de Página</p>
        </footer>
    </body>
</html>