<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
<div class="dl13"><img src="/img/logo-pruebas-colores.png" alt="logo"></div>
<p>login</p>
</header>
<main>
<form action="/login" method="post">
   <p><input type="email" name = "email" placeholder="mail"></p>
   <br>
   <p><input type="password" name="clave" placeholder="Clave"></p>
   <br>
</form>
<a href="" alt="recupero de contrasenia">Olvide contrasenia</a>
</main>
<foote>
    donde estamos
</foote>

    
</body>
</html>