<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!--Etilos Generales -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/css/login.css">
        <title>LibrApp/login</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="https://via.placeholder.com/300x150" alt="logo librApp">
            </div>
            <nav class="navbar">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </nav>
            <div class="search-engine">
                <form action="" method="">
                    <input type="text">
                    <input type="button" value="Buscar">
                </form>
            </div>
            <div class="shopping-cart-access">
                <p>#</p>
                <p>Productos</p>
                <p>AR$</p>
                <p>total</p>
                <div class="icon-shopping-cart">
                    <a href="#">icono</a>
                </div>
            </div>
        </header>

        <main>
            <section>
                <h1>Ingresa a tu cuenta</h1>
            </section>
            <section class="ingreso-datos">
            <form action="/login" method="post">
                <p><i class="fa-solid fa-at"></i><input type="email" placeholder="Mail"></p>
                
                <p><i class="fa-solid fa-key"></i><input type="password" name="Clave" placeholder="Clave" ali></p>
                
            </form>
            </section>
            <section class="ingresos2">        
            <a href="" alt="recupero de contrasenia">Olvide la contraseña<i class="fa-solid fa-face-surprise"></i></a>
            <article>
            <button type="button" name="submit" class="boton">ACEPTAR</button>
            <button type="button" name="reject" class="boton">CANCELAR</button>
        </article>         
        </section>
        </main>
        <footer>
            <Section class="footeritem">
                <ul type="none">
                    <li>Librapp</li>
                    <li>Terminos y condiciones</li>
                    <li>Contacto</li>
                    <li>©CopyRight</li>
                </ul>
            </Section>
        </footer>
    </body>
</html>