<%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <main>
            <section>
                <h1>Ingresa a tu cuenta</h1>
            </section>
            <section class="ingreso-datos">
            <form action="/login" method="post">
                <p><i class="fa-solid fa-at"></i><input type="email" placeholder="Mail"></p>
                
                <p><i class="fa-solid fa-key"></i><input type="password" name="Clave" placeholder="Clave" ali></p>
                
            </form>
            </section>
            <section class="ingresos2">
            <p>RECUERDAME<input type="checkbox" name="recuerdame"></p>        
            <a href="" alt="recupero de contrasenia">Olvide la contraseña<i class="fa-solid fa-face-surprise"></i></a>
            <article>
            <button type="button" name="submit" class="boton">ACEPTAR</button>
            <button type="button" name="reject" class="boton">CANCELAR</button>
        </article>         
        </section>
        </main>
        <%- include('./partials/footer') %>
        <script src="../js/index.js"></script>
    </body>
</html>