<%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <main>
            <h1>Lista de productos</h1>            
        </main>
        <%- include('./partials/footer') %>
        <script src="../js/index.js"></script>
    </body>
</html>