<!DOCTYPE html>
<html lang="en">
<head>
    <!--OBJETIVOS A CUMPLIR: 
        *MAQUETAR LA VISTA DE DETALLE DEL PRODUCTO BASADO EN EL WIREFRAME
        *ARCHIVO producDetail.hml con estilos CSS e imágenes
        *Debe ser RESPONSIVE
        *BOTÓN PARA AGREGAR PRODUCTO AL CARRITO
        *DEBE PERMITIRME LA CANTIDAD DE PRODUCTOS QUE DESEO INCLUIR AL CARRITO??????
        *DEBE TENER UN LINK QUE ME LLEVE AL CARRITO DE COMPRAS
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <nav>
        <!-- BARRA DE NAVEGACIÓN DE USUARIO-->
        <ul>
            <li><a href="">XXXXX</a></li>
            <li><a href="">OFERTAS</a></li>
            <li><a href="">SUCURSALES</a></li>
            <li><a href="">MI CUENTA</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>
    </nav>
        <!-- lOGO DE LA WEB-->
        <div><img src="" alt="LOGO LIBRAPP"></div>

    <nav>
        <!-- BARRA DE NAVEGACIÓN DE LIBROS CATEGORÍAS-->
        <ul>
            <li><a href="">LIBROS</a></li>
            <li><a href="">NOVEDADES</a></li>
            <li><a href="">THRILLER</a></li>
            <li><a href="">FANTASÍA</a></li>
            <li><a href="">COMICS</a></li>
            <li><a href="">ROMANCE</a></li>
        </ul>
    </nav>

    <!-- DATOS DEL LIBRO-->
    <div class ="titulo"> 
    <img src="" alt="FOTO LIBRO">
    <h2> NOMBRE DEL LIBRO </h2>
    <ul><li>AUTOR: NOMBRE APELLIDO</li>
        <li>EDITORIAL: NOMBRE EDITORIAL</li>
        <li>AR$ XXXX</li>
        <li>DESCRIPCIÓN DEL LIBRO</li>
        <li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia vero obcaecati perferendis consequuntur sunt vitae 
        enim soluta dignissimos optio autem at maiores reiciendis quam libero quo, praesentium aut, asperiores similique?</p></li>
    </ul>
    </div>

    <div class ="titulo"> 
    <h2>>DETALLES DEL LIBRO </h2>
    <ul>
        <li>NÚMERO DE PÁGINAS: XXXX</li>
        <li>PESO: XXX GRS</li>
        <li>FORMATO: XXXX</li>
        <li>EDICIÓN: AAAAA</li>
        <li>IDIOMA: XXXX</li>
    </ul>
    </div>    
    <div class ="titulo">
    <h2>>RESEÑAS</h2>
    <h3>Comentarios sobre el libro</h3>
    <p>Todavía nadie dejó ninguna reseña.</p>
    </div>

    <!-- BARRA DE NOVEDADES-->

    <!-- RECOMENDACIONES-->
    <section>
        <div>
        <h4>OTROS LECTORES TAMBIÉN COMPRARON:</h4>
        </div>
        <img src=""></img> <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quisquam a odio, tempora nam reprehenderit dolorem blanditiis tempore quasi maxime asperiores, accusamus culpa itaque, expedita ducimus accusantium voluptas placeat voluptates.</P>
        <img src=""></img> <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quisquam a odio, tempora nam reprehenderit dolorem blanditiis tempore quasi maxime asperiores, accusamus culpa itaque, expedita ducimus accusantium voluptas placeat voluptates.</P>
        <img src=""></img> <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur quisquam a odio, tempora nam reprehenderit dolorem blanditiis tempore quasi maxime asperiores, accusamus culpa itaque, expedita ducimus accusantium voluptas placeat voluptates.</P>
    </section>


    <FOOTER><!--NAVEGACIÓN DEL SITIO-->
    <nav>
        <ul>
            <li><a href="">CONTACTO</a></li>
            <li><a href="">POLÍTICAS DE PRIVACIDAD</a></li>
            <li><a href="">TRABAJAR CON NOSOTROS</a></li>
            <li><a href="">ATENCIÓN AL CLIENTE</a></li>
            <li><a href="">DEVOLUCIONES</a></li>
            <li><a href="">PREGUNTAS FRECUENTES</a></li>
        </ul>
    </nav>
    </FOOTER>
</body>
</html>