<%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>

        <main>
            <div class="products">
                <div class="barra-color"></div>
                <div class="infoProduct">
                    <div class="imagen-product">
                        <img src="img/imagenPrueba2.jpg">
                    </div>
                    <div class="description-product">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores impedit voluptatibus, quisquam facere quo eius accus</p>
                    </div>
                    <div class="cantidad-product">
                        <input type="button" value="-">
                        <input type="text">
                        <input type="button" value="+">
                    </div>
                    <div class="subtotal-product">
                        <p>AR$ 1.000</p>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="barra-color"></div>
                <div class="infoProduct">
                    <div class="imagen-product">
                        <img src="img/imagenPrueba2.jpg">
                    </div>
                    <div class="description-product">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores impedit voluptatibus, quisquam facere quo eius accus</p>
                    </div>
                    <div class="cantidad-product">
                        <input type="button" value="-">
                        <input type="text">
                        <input type="button" value="+">
                    </div>
                    <div class="subtotal-product">
                        <p>AR$ 1.000</p>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="barra-color"></div>
                <div class="infoProduct">
                    <div class="imagen-product">
                        <img src="img/imagenPrueba2.jpg">
                    </div>
                    <div class="description-product">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores impedit voluptatibus, quisquam facere quo eius accus</p>
                    </div>
                    <div class="cantidad-product">
                        <input type="button" value="-">
                        <input type="text">
                        <input type="button" value="+">
                    </div>
                    <div class="subtotal-product">
                        <p>AR$ 1.000</p>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="barra-color"></div>
                <div class="infoProduct">
                    <div class="imagen-product">
                        <img src="img/imagenPrueba2.jpg">
                    </div>
                    <div class="description-product">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores impedit voluptatibus, quisquam facere quo eius accus</p>
                    </div>
                    <div class="cantidad-product">
                        <input type="button" value="-">
                        <input type="text">
                        <input type="button" value="+">
                    </div>
                    <div class="subtotal-product">
                        <p>AR$ 1.000</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
        <script src="../js/index.js"></script>
    </body>
</html>