:root {
    --NARANJA: #FF8514;
    --LILA: #AC9EFF;
    --VIOLETA: #764AF1;
    --LIGHT-BLUE: #9DC1CE ;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    background-color:#FF8514;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-buscador {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 80%;
}

.search-engine {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-engine form {
    width: 95%;
    display: flex;
    padding: 15px;

}

.search-engine form input[type="text"] {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.search-engine form input[type="button"] {
    background-color: ivory;
    border: transparent;
    border-radius: 0px 10px 10px 0px;
}

.menu-hamburguesa {
    width: 100%;
    display: flex;
    justify-content: center;

}

.navbar {
    display: none;

}

.shopping-cart {
    display: none;
}

