/* Estilos del Header */

:root {
    --NARANJA: #FF8514;
    --LILA: #AC9EFF;
    --VIOLETA: #764AF1;
    --LIGHT-BLUE: #9DC1CE ;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header {
    width: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
    border: red 2px solid;
    padding: 1rem;
    /*background-color: #FF8514;*/
    
}

.menu {
    justify-content: space-between;
}

.menu,.menu-buscador {
    display: flex;
}

.menu-buscador{
    align-items: center;
}

.navbar {
    width: 60%;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    list-style-type: none;
    padding: 0 8px ;
    border: 1px solid black;
    height: 31px;
    width: 100%;
    line-height: 15px;
    text-align: center;
    margin: auto;
}

.logo img {
    width: 50%;
    border: red 2px solid;
    
}

#contacto {
    background-color: var(--VIOLETA) ;
}

.search-engine {
    width: 100%;
    display: inline;
    text-align: right;
}
.shopping-cart-access{
    width: 20%;
    display: flex;
    
}

.shopping-cart-access p{
    padding-right: 10px ;
}

form input[type="text"]{
    width: 65%;
    height: 25px;
}

form input[type="button"]{
    height: 30px;
    background-color: var(--NARANJA);
    padding: 0 30px;
    ;
}

/* Fin de los estilos del Header */
/**main**/
main{
padding: 1rem;
}
h3{
    text-decoration: underline;
}
main section h1 {
    width: 70%;
    font-weight: bold;
    border: #764AF1 15px solid;
    background-color: #AC9EEF;
    text-align: center;
    margin: auto;
    animation-name: seccion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }
    @keyframes seccion {
       0%{
          border: #764AF1 15px solid;
          background-color: #AC9EEF;
       }
       25%{
          border: #AC9EEF 15px solid;
          background-color:#764AF1;
          color: white;
       }
       75%{
          border: #764AF1 15px solid;
          background-color: #AC9EEF;
       }
       100%{
          border: #AC9EEF 15px solid;
          background-color:#764AF1;
          color: white;
       }
    }


.ingresos2{
    width: 11rem;
    display: block;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    transition: all 450ms;
   }
   section input{
    text-align: center;
    display: block;
    margin: auto;
 }

 .boton:hover{
    background-color: #ff8514;
    border-radius: 20%;
 }

/*footer*/

.footeritem{
    background-color: #ff8514;
    padding: 2%;
    line-height: 1.5rem;
    text-align: left;     
 }
/*media queri*/
