
/**main**/
main{
padding: 1rem;
}
h3{
    text-decoration: underline;
}
main section h1 {
    width: 70%;
    font-weight: bold;
    border: #764AF1 15px solid;
    background-color: #AC9EEF;
    text-align: center;
    margin: auto;
    animation-name: seccion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }
    @keyframes seccion {
       0%{
          border: #764AF1 15px solid;
          background-color: #AC9EEF;
       }
       25%{
          border: #AC9EEF 15px solid;
          background-color:#764AF1;
          color: white;
       }
       75%{
          border: #764AF1 15px solid;
          background-color: #AC9EEF;
       }
       100%{
          border: #AC9EEF 15px solid;
          background-color:#764AF1;
          color: white;
       }
    }


.ingresos2{
    width: 11rem;
    display: block;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    transition: all 450ms;
   }
   section input{
    text-align: center;
    display: block;
    margin: auto;
 }

 .boton:hover{
    background-color: #ff8514;
    border-radius: 20%;
 }

/*footer*/

.footeritem{
    background-color: #ff8514;
    padding: 2%;
    line-height: 1.5rem;
    text-align: left;     
 }
/*media queri*/
