@import url('./partials/header.css');

:root {
  --principal: #FF8514;
  --secundario: #764AF1;
  /* --ligero: #9DC1CE ; */
  --ligero: aqua;
  --fuerte: #AC9EFF;
  --contraste: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

a:visited{
  color:black
}

/* Este solo se usa con Javascript para controlar el menu */
.menu-visible{  
  display: flex;
}
/* +++++++++++++++++++++ */