
.product {
    width: 95%;
    display:flex;
    border: 1px solid black;
    margin: 10px auto;
}

.productCart-resumen{
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--principal-suavizado);
}

.barra-color {
    width: 1%;
    background-color: var(--secundario);
}

.infoProduct {
    width: 99%;
    display: flex;
    align-items: center;
}

.imagen-product {
    width: 30%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-product img {
    width: 80%;
    height: 120px;
}

.description-product {
    width: 30%;
}

.description-product p{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.cantidad-product{
    width: 20%;
    display: flex;
    padding: 0 8px;
}

.cantidad-boton {
    width: 30%;
}

.cantidad-input {
    width: 40%;
}


.subtotal-product {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

.product-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--principal);
  padding: 0 20px;
}

.product-delete i{
  font-size: 20px;
}

.resumen{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cantidad-total,
.precio-total,
.boton-comprar{
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cantidad-total span,
.precio-total span {
  padding: 0 10px;
}

.boton-comprar input{
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: transparent;
  background-color: var(--secundario);
  color: var(--contraste);
}

@media (min-width: 461px) {

  .imagen-product img {
    height: 220px;
  }

  
  .description-product p{
    -webkit-line-clamp: 10;
  }

  .cantidad-product{
    padding: 0 15px;
  }

}

@media (min-width: 881px) {
  .product,
  .productCart-resumen {
    width: 80%;
  }
  .imagen-product img {
    width: 60%;
}
}

@media (min-width: 1024px) {
}









